@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.logo a {
    font-size: 2.4rem;
    font-weight: 600;
    color: #000;
    cursor: default;
}

nav a{
    margin-left: 3.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    transition: 0.5s;
}

nav a:hover {
    color: #F88F01;
}

section {
    min-height: 100vh;
    padding: 10rem 10% 2rem;
}

/* HOME SECTION */
.home {
    background: linear-gradient(-90deg, #65451F 68%, #fff 32%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
    width: 35rem;
    background: #65451F;
    border-radius: 50%;
    border: 2rem solid #fff;
    outline: 2rem solid #65451F;
}

.home-image img {
    max-width: 31rem;
    border-radius: 50%;
}

.home-content {
    max-width: 60rem;
    color: #fff;
    text-align: right;
}

.home-content h1 {
    font-size: 4.5rem;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 3.5rem;
    color: transparent;
    background-image: linear-gradient(#FF8303, #FF8303);
    -webkit-text-stroke: 0.5px #fff;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
}

.home-content h3 span {
    position: relative;
    color: transparent;
    background-image: linear-gradient(#FF8303, #FF8303);
    -webkit-text-stroke: 0.5px #fff;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    background-position: -35.5rem 0;
    animation: animationText 6s linear infinite;
}

.home-content p {
    margin-top: 2rem;
    font-size: 1.6rem;
}

.home-social {
    margin: 2.5rem 0 4rem;
}

.home-social a {
    height: 4rem;
    width: 4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #F88F01;
    background: transparent;
    border: 0.2rem solid #fff;
    border-radius: 50%;
    margin-left: 1.2rem;
    transition: 0.5s;
}

.home-social a:hover {
    background: #F88F01;
    border: 0.2rem solid #F88F01;
    box-shadow: 0 0 1rem #F88F01;
    color: #fff;
}

.home-btn {
    padding: 1.2rem 3.5rem;
    background: #F88F01;
    border-radius: 4rem;
    border: none;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 1rem #F88F01;
    transition: 0.5s;
}

.home-btn:hover {
    box-shadow: none;
}

/* ABOUT SECTION */
/* .about {
    background: rgba(101, 69, 31, 0.5);
}

.section-title {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 5rem;
}

.section-title span {
    color: #65451F;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
}

.about-content p {
    font-size: 1.4rem;
} */

/* RESPONSIVE */
@media screen and (max-width:1200px) {
    html {
        font-size: 57%;
    }
}

@media screen and (max-width:1000px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width:876px) {
    html {
        font-size: 43.5%;
    }
}

@media screen and (max-width:768px) {
    .logo a {
        color: #fff;
    }
    
    .home {
        background: #65451F;
        flex-direction: column-reverse;
        gap: 5rem;
    }

    .home-content {
        text-align: center;
    }

    .home-image {
        outline: none;
    }
}

@media screen and (max-width:425px) {
    html {
        font-size: 40%;
    }

    header {
        padding: 2rem 5%;
    }

    section {
        padding: 10rem 5% 2rem;
    }
}

/* ANIMATIION */
@keyframes animationText {
    0%, 95%, 100% {
        background-position: -35.5rem 0;
    }
    65%, 85% {
        background-position: 0 0;
    }
}